{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        {% include 'partials/_library_pro.html' %}
        <div class="container col-5">
            {% if validlink %}
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 font-weight-bold">Reset Password</legend>
                        {{ form|crispy }}
                    </fieldset>
                        <button type="submit" class="btn btn-primary btn-block form-control">
                            Reset Password
                        </button>
                </form>
            {% else %}
                <p class="text-center font-weight-bold mt-3" id="search-error">
                    Invalid Reset Link.
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
