{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="container col-5">
            <div class="alert alert-info text-center">
                <strong>
                    Your password has been set.
                </strong>
            </div>
            <a href="#login" class="btn font-weight-bolder btn-primary form-control" data-toggle="modal" data-target="#login">
                Login <i class="fas fa-sign-in-alt"></i>
            </a>
        </div>
    </div>
{% endblock %}
