{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        {% include 'partials/_library_pro.html' %}
        <div class="container col-5">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Reset Password</legend>
                    {{ form|crispy }}
                </fieldset>
                    <button type="submit" class="btn btn-primary btn-block my-3 font-weight-bold">
                        Submit <i class="fas fa-paper-plane"></i>
                    </button>
            </form>
        </div>
    </div>
{% endblock %}