{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% include 'partials/_library_pro.html' %}
        <div class="container col-md-5">
            <h1 class="text-center">
                <i class="fas fa-exclamation-triangle fa-10x display-1"></i>
            </h1>
            <h3 class="text-center">An error occurred with your transaction.</h3>

            <p class="mt-4 font-weight-bold text-center">
                <a href="{% url 'funds:donate' %}" class="btn btn-primary font-weight-bold">
                    <i class="fas fa-redo"></i> Try again
                </a>
            </p>
        </div>
    </div>
{% endblock %}
